/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/03/2020, 15:21:22
    Author     : luiz.ferreira
*/


.img_cau{/*ativar banner*/
    width:100%;
    height: 200px; 
    background-image: url('../img/panorama_olinda.jpg');
    background-size: cover;
}

.yellow_olinda{
    background-color:#ffcc29;
}
.yellow_olinda_cor{
    color: #ffcc29;
}
.blue_olinda{
    background-color:#006eb4;
}
.blue_olinda_cor{
    color: #006eb4;
}

.red_olinda{
    background-color:#ed3237;
}
.red_olinda_cor{
    color: #ed3237;
}